#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	justify-content: space-between;
}

ul {
	padding-right: 50px;
	list-style-type: none;
	overflow: hidden;
}
li {
	display: block;
	float: left;
	padding: 10px 20px;
}
li a {
	padding: 10px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}
li a:hover {
	background-color: #ddd;
}
